pipeline/pl_OnPrem_Ingestion.json
{
	"name": "pl_OnPrem_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "gm_OnPremFile",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_getFileInOnPrem",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "fe_iteration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "gm_OnPremFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('gm_OnPremFile').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "if_checkFileExtension",
							"description": "if file is csv migrate to cloud data lake",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name,'.csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "cp_OnPrem_file",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "FileServerReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "FlattenHierarchy"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"value": "@if(\n    equals(item().name,'DimPassenger.csv'),\n    pipeline().parameters.p_mapping_passenger,\n    if(\n        equals(item().name,'DimFlight.csv'),\n        pipeline().parameters.p_mapping_flight,\n        pipeline().parameters.p_mapping_airline\n    )\n)\n",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "ds_OnPrem_File",
												"type": "DatasetReference",
												"parameters": {
													"inputFileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_blob",
												"type": "DatasetReference",
												"parameters": {
													"outputFileName": "@item().name"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_mapping_flight": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_passenger": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_airline": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-09T10:27:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}