pipeline/pl_On-Prem_EMR.json
{
	"name": "pl_On-Prem_EMR",
	"properties": {
		"activities": [
			{
				"name": "LookUp_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_get_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookUp_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookUp_Config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "if_loadtype",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(toLower(item().loadtype), 'incremental')\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "cp_full_load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_AzureSQL",
												"type": "DatasetReference",
												"parameters": {
													"schemaName": {
														"value": "@item().schemaName",
														"type": "Expression"
													},
													"tableName": {
														"value": "@item().tableName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_bronze",
												"type": "DatasetReference",
												"parameters": {
													"containerName": "bronze",
													"directoryName": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"fileName": {
														"value": "@item().tableName",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "insert_load_logs2",
										"type": "Lookup",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n  'INSERT INTO dbo.load_logs ',\n  '(tablename, numberofrowscopied, watermarkcolumnname, loaddate) ',\n  'VALUES (',\n  '''', item().tablename, ''', ',\n  activity('cp_full_load').output.rowsCopied, ', ',\n  if(\n    equals(item().watermark, null),\n    'NULL',\n    concat('''', item().watermark, '''')\n  ),\n  ', SYSDATETIME()',\n  ');'\n)\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_AzureSQL",
												"type": "DatasetReference",
												"parameters": {
													"schemaName": "dbo",
													"tableName": {
														"value": "@item().tableName",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "Stored procedure2",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "cp_full_load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_insert_load_logs]",
											"storedProcedureParameters": {
												"numberofrowscopied": {
													"value": {
														"value": "@activity('cp_full_load').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"tablename": {
													"value": {
														"value": "@item().tablename",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermarkcolumnname": {
													"value": {
														"value": "@item().watermark",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_emr_sql",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "cp_incremental",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Fetch_logs",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n  'SELECT * FROM ',\n  item().schemaname, '.', item().tablename,\n  ' WHERE ',\n  item().watermark,\n  ' > ''',\n  activity('Fetch_logs').output.firstRow.last_fetched_date,\n  ''''\n)\n",
													"type": "Expression"
												},
												"queryTimeout": "00:30:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_AzureSQL",
												"type": "DatasetReference",
												"parameters": {
													"schemaName": {
														"value": "@item().schemaname",
														"type": "Expression"
													},
													"tableName": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_bronze",
												"type": "DatasetReference",
												"parameters": {
													"containerName": "bronze",
													"directoryName": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"fileName": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Fetch_logs",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "schemaname",
												"value": "'aa'"
											},
											{
												"name": "tablename",
												"value": "'aa'"
											}
										],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n  'SELECT COALESCE(CAST(MAX(loaddate) AS DATE), ''1900-01-01'') AS last_fetched_date ',\n  'FROM dbo.load_logs ',\n  'WHERE tablename = ''', item().tablename, ''''\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_AzureSQL",
												"type": "DatasetReference",
												"parameters": {
													"schemaName": {
														"value": "dbo",
														"type": "Expression"
													},
													"tableName": {
														"value": "load_logs",
														"type": "Expression"
													}
												}
											},
											"firstRowOnly": true
										}
									},
									{
										"name": "Stored procedure1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "cp_incremental",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_insert_load_logs]",
											"storedProcedureParameters": {
												"numberofrowscopied": {
													"value": {
														"value": "@activity('cp_incremental').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"tablename": {
													"value": {
														"value": "@item().tablename",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermarkcolumnname": {
													"value": {
														"value": "@item().watermark",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_emr_sql",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}